:root {
    --color-grey: #f6f6f6;
    --color-white: #ffffff;
    --color-secondary: #212121;
    --color-secondary-dark: #191919;
    --color-secondary-2a2a2a: #2a2a2a;
    --color-secondary-light: #484848;
    --color-primary: #ec4e20;
    --color-primary-light: #ff814d;
    --color-primary-dark: #b21000;
}

html {
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: auto;
}

body {
    padding: 0;
    margin: 0;
    background: var(--color-secondary-dark);
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    box-shadow: inset 0 50px 100px 50px #191919;
    overflow-x: hidden;
    justify-content: center;
}

/* ---------------- */
/*   Header & nav   */
/* ---------------- */

.primary-header {
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.mobile-nav-toggle {
    display: none;
}

.logo {
    margin: 1.5em;
    width: 30px;
    aspect-ratio: 1;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ongoing-button {
    background-color: var(--color-secondary-2a2a2a);
    font-size: 0.75em;
}

.login-button {
    background: var(--color-secondary-2a2a2a);
}

.login-button:hover {
    background: var(--color-secondary-light);
}

.signup-button {
    background: var(--color-primary);
}

#logout {
    padding: 0.5em 0;
    align-items: center;
    cursor: pointer;
    display: none;
    --gap: 0.5em;
}

#logout img {
    height: 1em;
}

@media (max-width: 55em) {
    .primary-header {
        padding: 0 8em 0 0;
    }

    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        text-align: left;

        flex-direction: column;
        padding: 2em;
        background: var(--color-secondary-dark);

        transform: translateX(100%);
        transition: transform 300ms ease-out;

        overflow-y: hidden;
    }

    .primary-navigation[data-visible='true'] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        width: 2.5rem;
        aspect-ratio: 1;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 9999;
        border: 0;
        background: transparent;
        background-image: url('assets/burgermenu.svg');
        background-repeat: no-repeat;
    }

    .mobile-nav-toggle[aria-expanded='true'] {
        background-image: url('assets/menu-close.svg');
    }

    #logout {
        display: flex;
    }

    .profile-icon {
        display: none;
    }

    .pfp {
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding-bottom: 2em;
        border-bottom: 1px solid var(--color-secondary-light);
    }

    .pfp img {
        width: 2.5em;
        aspect-ratio: 1;
        border-radius: 100%;
    }

    .nav-buttons {
        margin-right: 6em;
    }

    .signup-button {
        display: none;
    }

    .profile-menu-toggle {
        display: none;
    }
}

@media (min-width: 55em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 20vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 5vw, 10rem);
    }
}

/* ----------------- */
/* Wrapper & Content */
/* ----------------- */

.wrapper {
    padding: 1em;
    min-height: 100vh;
    justify-content: center;
}

.content {
    width: 100%;
}

.hero {
    padding: 3em 2em 2em 2em;
    gap: 0.5em;
}

.hero span {
    font-size: 0.9em;
}

.match {
    gap: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.match-information {
    padding: 2em;
    border-radius: 8px;
    gap: 2em;
    min-width: 25ch;
}

.details {
    --gap: 2.25em;
}

.details div {
    --gap: 0.15em;
}

/* ------------- */
/* Team Overview */
/* ------------- */

.team-overview {
    flex: 1 1;
    padding: 2em;
    --gap: 1em;
    justify-content: space-around;
}

.team {
    min-width: 30ch;
}

.forcewin-left {
    cursor: pointer;
}

.team-lineup {
    --gap: 2em;
    flex: 1;
    width: 100%;
    height: 100%;
}

.names {
    --gap: 0.1em;
}

.username {
    font-weight: 600;
}

.epicgames-username {
    font-size: 0.75em;
}

.profilepicture {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 100%;
}

.ready-up-button {
    width: 12em;
}

.result-button {
    width: 12em;
}
.result-button:hover {
    background-color: var(--color-primary-light);
}

#button-divider {
    text-align: center;
    font-size: 0.7em;
}

.report-button {
    width: 12em;
    background-color: var(--color-secondary-2a2a2a);
}

.report-button:hover {
    background-color: var(--color-secondary-light);
}

.report-text {
    text-decoration: none;
    margin: 2em 0;
    font-weight: 500;
}

.report-text a {
    color: var(--color-primary);
    cursor: pointer;
}

.report-text a:hover {
    text-decoration: underline;
}

@media (max-width: 35em) {
    .match-information {
        width: 100%;
        max-width: none;
    }

    .time-left {
        text-align: center;
    }

    .start-game-button {
        width: 100%;
    }

    .team-overview {
        flex-wrap: nowrap;
        --gap: 2em;
        padding: 0;
        justify-content: space-between;
    }

    .team {
        min-width: 20ch;
    }

    .team-lineup {
        --gap: 1em;
    }
}

/* -------------- */
/* Staff Controls */
/* -------------- */

.match-done-container {
    z-index: 101;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: #19191960;
    width: 100%;
    height: 100%;
}

.match-done {
    background-color: var(--color-secondary-2a2a2a);
    padding: 3em 2em;
    width: 410px;
    height: 250px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    align-items: center;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    --gap: 3em;
}

.match-done span {
    text-align: center;
}

.done-button {
    width: 100%;
    max-width: 25em;
}

@media (max-width: 55em) {
    .match-done {
        width: 90%;
    }
}

/* -------------- */
/* Staff Controls */
/* -------------- */

.staff-button {
    background-color: var(--color-secondary-2a2a2a);
    max-width: 19em;
    flex: 1;
}

.staff-button:hover {
    background-color: var(--color-secondary-light);
}

.staff-controls {
    flex: 1 1;
    margin: 3em 0;
    justify-content: space-around;
}

.staff-panel-container {
    display: none;
}
.staff-panel-container.open {
    display: block !important;
}

.open {
    display: block !important;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    padding: 1em;
}

.ban-popup {
    background-color: var(--color-secondary-2a2a2a);
    border-radius: 8px;
    padding: 3em 1em 1em 1em;
    --gap: 2em;
    width: 410px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.team1-pills {
    --gap: 0.5em;
}

.team2-pills {
    --gap: 0.5em;
}

.ban-buttons {
    --gap: 0.5em;
}

.pill {
    border-radius: 100vmax;
    border: 1px solid #2a2a2a;
    background-color: var(--color-secondary-dark);
    color: var(--color-grey);
    padding: 0.5em 2em;
    cursor: pointer;
}

.pill:hover {
    background-color: var(--color-secondary-light);
}

.pill--selected {
    border: 1px solid #ec4e20;
}

.ban {
    background-color: var(--color-secondary-dark);
}

.ban-buttons button:hover {
    background-color: var(--color-secondary-light);
}

.ban--selected {
    background-color: var(--color-primary);
}

.confirm-ban-button {
    width: 100%;
}

.confirm-ban-button:hover {
    background-color: var(--color-primary-light);
}

/* ---------- */
/* Match Chat */
/* ---------- */

.chat {
    height: 35em;
    padding: 2em;
    border-radius: 8px;
    background-color: var(--color-secondary-2a2a2a);
}

.chat-maxwidth {
    max-width: 1000px;
}

.date {
    color: var(--color-grey);
    align-self: center;
    align-items: center;
    justify-content: center;
}

.chatbox {
    gap: 1.5em;
    width: 100%;
    height: 100%;
    display: flex;
    position: inherit;
    padding: 1.5em 0;
    overflow-y: auto;
    align-self: center;
    flex-direction: column;
    justify-content: unset;
}

.message {
    width: 60%;
    display: flex;
    gap: 2em;
}

.message-right {
    align-self: flex-end;
    text-align: end;
    flex-direction: row-reverse;
    margin-right: 20px;
}

.message-container {
    width: 100%;
    --gap: 0.1em;
}

.message-date {
    font-size: 0.6em;
}

.name-date {
    --gap: 1em;
    align-items: baseline;
}

.name-date-right {
    flex-direction: row-reverse;
}

.message-text {
    word-break: break-all;
    margin: 0.3em 0;
}

.server-message {
    font-weight: 600;
    color: var(--color-primary);
    align-self: center;
}

.send-message {
    --gap: 0;
    background: var(--color-secondary-dark);
    border-radius: 8px;
    align-self: center;
    width: 100%;
}

.send-icon {
    height: 20px;
    padding: 0 1em;
    align-self: center;
}

.chat-input {
    width: 100%;
    height: 2em;
    align-self: center;
    border-width: 0px;
    background-color: var(--color-secondary-dark);
}

@media (max-width: 35em) {
    .message {
        width: 90%;
        gap: 1em;
    }

    .message-text {
        margin: 0 0 0.3em 0;
    }
}

/* ------ */
/* Footer */
/* ------ */

footer {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #484848;
    border-style: solid;
    background-color: var(--color-secondary-dark);
}

.footer-content {
    height: auto;
    gap: 1em;
    padding: 3em;
    flex: 1 1 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.footer-content ul {
    list-style: none;
}

.secondary-navigation {
    gap: 0.25em;
    display: flex;
    padding: 0;
    min-width: 12ch;
    flex-direction: column;
    cursor: pointer;
}

.footer-content ul li:hover {
    color: var(--color-primary);
}

.socials {
    gap: 1em;
    margin: 1.5em;
}

.socials img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.copyright {
    text-align: center;
    padding: 1em 0 1em 0;
    display: block;
    font-weight: 300;
    font-size: 0.9em;
}

@media (max-width: 35em) {
    .footer-content :nth-child(1) {
        order: 1;
    }
    .footer-content :nth-child(2) {
        order: 3;
    }
    .footer-content :nth-child(3) {
        order: 4;
    }
    .footer-content :nth-child(4) {
        order: 2;
    }
}
